<header class="header">
    <nav class="nav">
        <div class="logo">
            <a href="{{ "" | absLangURL }}" accesskey="h">
                <img src="{{ site.Params.label.icon | absURL }}" alt="logo" aria-label="logo"
                    height="{{ site.Params.label.iconHeight }}" width="{{ site.Params.label.iconHeight }}">
                {{- site.Params.label.text -}}
            </a>
            <div class="logo-switches"></div>
        </div>
        {{- $currentPage := . }}
        <ul id="menu">
            {{- range site.Menus.main }}
            {{- $menu_item_url := (cond (strings.HasSuffix .URL "/") .URL (printf "%s/" .URL)) | absLangURL }}
            <li>
                <a href="{{ .URL | absLangURL }}">
                    <span {{- if eq $menu_item_url ($currentPage.Permalink | absLangURL) }} class="active" {{- end }}>
                        {{- .Name -}}
                    </span>
                </a>
            </li>
            {{- end }}
        </ul>
    </nav>
</header>
