<div class="profile">
    {{- with site.Params.profileMode }}
    <div class="profile_inner">
        <img draggable="false" src="{{ .imageUrl | absURL }}" alt="profile image"
            height="{{ .imageHeight }}" width="{{ .imageWidth }}" />
        <h1>{{ .title | markdownify }}</h1>
        <span>{{ .subtitle | markdownify }}</span>
        {{- partial "social_icons.html" -}}

        <div class="buttons">
            {{- range .buttons }}
            <a class="button" href="{{ trim .url " " }}" rel="noopener">
                <span class="button-inner">{{ .name }}</span>
            </a>
            {{- end }}
        </div>
    </div>
    {{- end }}
</div>
